worksheet-2/q9/flow.json
[
    {
        "id": "2abef3a28c167576",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf92eee6f7d476aa",
        "type": "mqtt in",
        "z": "2abef3a28c167576",
        "name": "",
        "topic": "IPB/IoT/Class02/a67608/Potentiometer",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1a53dd38d2c67a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 260,
        "wires": [
            [
                "7bf97a12871ce15a",
                "09dc5df6c5734c28"
            ]
        ]
    },
    {
        "id": "7bf97a12871ce15a",
        "type": "debug",
        "z": "2abef3a28c167576",
        "name": "Debug Potentiometer",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 220,
        "wires": []
    },
    {
        "id": "09dc5df6c5734c28",
        "type": "ui_gauge",
        "z": "2abef3a28c167576",
        "name": "",
        "group": "d32511b8ccf57a05",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "a0c27b58d2665cc4",
        "type": "ui_switch",
        "z": "2abef3a28c167576",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "d32511b8ccf57a05",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "IPB/IoT/Class02/a67608/LED",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 420,
        "wires": [
            [
                "44433d5f45fd9b9c"
            ]
        ]
    },
    {
        "id": "44433d5f45fd9b9c",
        "type": "mqtt out",
        "z": "2abef3a28c167576",
        "name": "ESP Led",
        "topic": "IPB/IoT/Class02/a67608/LED",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1a53dd38d2c67a4",
        "x": 560,
        "y": 420,
        "wires": []
    },
    {
        "id": "c07d274e13a58b99",
        "type": "debug",
        "z": "2abef3a28c167576",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 560,
        "wires": []
    },
    {
        "id": "c0724f8444603283",
        "type": "mqtt in",
        "z": "2abef3a28c167576",
        "name": "",
        "topic": "IPB/IoT/Class02/a67608/LED",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1a53dd38d2c67a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 560,
        "wires": [
            [
                "c07d274e13a58b99"
            ]
        ]
    },
    {
        "id": "d1a53dd38d2c67a4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqtt-dashboard.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d32511b8ccf57a05",
        "type": "ui_group",
        "name": "Default",
        "tab": "e29c661441de7d55",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e29c661441de7d55",
        "type": "ui_tab",
        "name": "q13",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "de7ed2d1f7fc43f4",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]